<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<title>微店</title>
		<link rel="stylesheet" href="/static/common/css/header.css" />
        <script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/common/js/header.js"></script>
	</head>
    
    <body>
    	<div class="top">
   	  	  <form name="search" method="get" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>">
       		<input name="search_context" class="search_txt" type="text">
   	  		<button name="submit" class="search_submit" type="submit" value="OK">Search</button>
    	  	</form>
    	</div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>aaaa</p>
        
    